<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Pregunta 2</title>
        <style>
            * {
              box-sizing: border-box;
            }
            .col-20 {
                float: left;
                width: 120px;
                margin-top: 6px;
            }

            .col-80 {
              float: left;
              width: 200px;
              margin-top: 6px;
            }
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <p> Primer tiempo </p>
             <div class="row">
                <div class="col-20">
                <h:outputLabel value="Hora:"></h:outputLabel>
                </div>
                 <div class="col-80">
                <h:inputText value="#{time.hFirst}"
                             required="true"
                             size="4"
                             a:type="number">
                </h:inputText><br/>
                 </div>
             </div>
            <div class="row">
            <div class="col-20">
            <h:outputLabel value="Minuto:"></h:outputLabel>
            </div>
            <div class="col-80">
            <h:inputText value="#{time.mFirst}"
                         required="true"
                         size="4"
                         a:type="number">
            </h:inputText><br/>
            </div>
            </div>
            <div class="row">
            <div class="col-20">
            <h:outputLabel value="Segundo:"></h:outputLabel>
            </div>
            <div class="col-80">
            <h:inputText value="#{time.sFirst}"
                         required="true"
                         size="4"
                         a:type="number">
            </h:inputText><br/>
            </div>
            </div>
            <p> Segundo tiempo </p>
            <div class="row">
            <div class="col-20">
            <h:outputLabel value="Hora:"></h:outputLabel>
            </div>
            <div class="col-80">
            <h:inputText value="#{time.hSecond}"
                         required="true"
                         size="4"
                         a:type="number">
            </h:inputText><br/>
            </div>
            </div>
            <div class="row">
            <div class="col-20">
            <h:outputLabel value="Minuto:"></h:outputLabel>
            </div>
            <div class="col-80">
            <h:inputText value="#{time.mSecond}"
                         required="true"
                         size="4"
                         a:type="number">
            </h:inputText><br/>
            </div>
            </div>
            <div class="row">
                <div class="col-20">
            <h:outputLabel value="Segundo:"></h:outputLabel>
                </div>
                <div class="col-80">
            <h:inputText value="#{time.sSecond}"
                         required="true"
                         size="4"
                         a:type="number">
            </h:inputText><br/>
                </div>
            </div>
            <h:commandButton value="Calcular" action="result"></h:commandButton>
        </h:form>
    </h:body>
</html>

