<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Tiempo transcurrido</title>
    </h:head>
    <h:body>
        <h1>Diferencia entre tiempos :</h1>
        <p>Primer Tiempo </p>
        <p>Hora : #{time.hFirst}</p>
        <p>Minuto : #{time.mFirst}</p>
        <p>Segundo : #{time.sFirst}</p><br/>
        
        <p>Segundo Tiempo </p>
        <p>Hora : #{time.hSecond}</p>
        <p>Minuto : #{time.mSecond}</p>
        <p>Segundo : #{time.sSecond}</p><br/>
     
        <h:outputText value ="Resultado : #{operation.calculate()}" escape="false"/>
    </h:body>
</html>

