<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Pregunta 1</title>
        <style>
            * {
              box-sizing: border-box;
            }
            .col-20 {
                float: left;
                width: 200px;
                margin-top: 6px;
            }

            .col-80 {
              float: left;
              width: 200px;
              margin-top: 6px;
            }
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
             <div class="row">
                 <div class="col-20">
            <h:outputLabel value="N Alumnos - Asignatura A:"></h:outputLabel>
                 </div>
                 <div class="col-80">
            <h:inputText value="#{evaluation.studentsA}"
                         required="true"
                         size="4"
                         validator="#{evaluation.validateTotalStudent}"
                         a:type="number">
            </h:inputText><br/>
                 </div>
             </div>
            <div class="row">
                 <div class="col-20">
            <h:outputLabel value="N Alumnos - Asignatura B:"></h:outputLabel>
                 </div>
                <div class="col-80">
            <h:inputText value="#{evaluation.studentsB}"
                         required="true"
                         size="4"
                         validator="#{evaluation.validateTotalStudent}"
                         a:type="number">
            </h:inputText><br/>
                </div>
                 </div>
            <div class="row">
                 <div class="col-20">
            <h:outputLabel value="N Alumnos - Asignatura C:"></h:outputLabel>
                 </div>
                <div class="col-80">
            <h:inputText value="#{evaluation.studentsC}"
                         required="true"
                         size="4"
                         validator="#{evaluation.validateTotalStudent}"
                         a:type="number">
            </h:inputText><br/>
                </div>
            </div>
            <h:commandButton value="Calcular" action="result"></h:commandButton>
        </h:form>
    </h:body>
</html>

