<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Tiempo empleado en la calificación de asignaturas</h1>
        <p>Alumnos Asignatura A: #{evaluation.studentsA}</p>
        <p>Alumnos Asignatura B: #{evaluation.studentsB}</p>
        <p>Alumnos Asignatura C: #{evaluation.studentsC}</p>
     
        <p>Horas : #{operation.calculateH()}</p>
        <p>Minutos : #{operation.calculateM()}</p>
    </h:body>
</html>

