<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>Pregunta 3</title>
        <style>
            * {
              box-sizing: border-box;
            }
            .col-20 {
                float: left;
                width: 120px;
                margin-top: 6px;
            }

            .col-80 {
              float: left;
              width: 200px;
              margin-top: 6px;
            }
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>
    </h:head>
  
    <h:body>
        <h:form>
            <div class="row">
                <div class="col-20">
                    <h:outputLabel value="Hora:"/>
                </div>
                <div class="col-80">
                    <h:inputText value="#{salary.hours}"
                             required="true"
                             size="4"
                             a:type="number">
                    </h:inputText>
                </div>
            </div>
             <div class="row">
                 <div class="col-20">
                <h:outputLabel value="Mes:"/>
                 </div>
                 <div class="col-80">
                <h:selectOneMenu value="#{salary.month}">
                    <f:selectItem itemValue="1" itemLabel="Enero" ></f:selectItem>
                    <f:selectItem itemValue="2" itemLabel="Febrero"></f:selectItem>
                    <f:selectItem itemValue="3" itemLabel="Marzo"></f:selectItem>
                    <f:selectItem itemValue="4" itemLabel="Abril"></f:selectItem>
                    <f:selectItem itemValue="5" itemLabel="Mayo"></f:selectItem>
                    <f:selectItem itemValue="6" itemLabel="Junio"></f:selectItem>
                    <f:selectItem itemValue="7" itemLabel="Julio"></f:selectItem>
                    <f:selectItem itemValue="8" itemLabel="Agosto"></f:selectItem>
                    <f:selectItem itemValue="9" itemLabel="Septiembre"></f:selectItem>
                    <f:selectItem itemValue="10" itemLabel="Octubre"></f:selectItem>
                    <f:selectItem itemValue="11" itemLabel="Noviembre"></f:selectItem>
                    <f:selectItem itemValue="12" itemLabel="Diciembre"></f:selectItem>
                </h:selectOneMenu>
                 </div>
             </div>
            <div class="row">
                 <div class="col-20">
                <h:outputLabel value="Category:"/>
                 </div>
                   <div class="col-80">
                <h:selectOneMenu value="#{salary.category}">
                    <f:selectItem itemValue="0" itemLabel="A" ></f:selectItem>
                    <f:selectItem itemValue="1" itemLabel="B"></f:selectItem>
                    <f:selectItem itemValue="2" itemLabel="C"></f:selectItem>
                </h:selectOneMenu><br/>
                   </div>
            </div>    
            <div class="row">
                <div class="col-20">
                <h:outputLabel value="Años de servicio:"/>
                </div>
                <div class="col-80">
                <h:inputText value="#{salary.year}"
                             required="true"
                             size="4"
                             a:type="number">
                </h:inputText><br/>
                </div>
            </div>
            <h:commandButton value="Calcular" action="result"></h:commandButton>
        </h:form>
    </h:body>
</html>

