<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Salario por mes</title>
    </h:head>
    <h:body>
        <h1>Monto total por mes</h1>
        <p>Horas : #{salary.hours}</p>
        <p>Mes : #{salary.month}</p>
        <p>Categoria : #{salary.category}</p>
        <p>Años de servicio : #{salary.year}</p><br/>
        
        <h:outputText value ="Resultado : #{operation.calculate()}" escape="false"/>
    </h:body>
</html>

